{% load static %}

<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/auth.css' %}">

{% include "app/header.html" %}

{% block content %}
<main>
    <div class="auth__form">
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></p>
    </div>
</main>

{% endblock %}