{% load static %}

{% include "app/header.html" %}

<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/profile.css' %}">

<main>
    <div class="profile__content">
        {% if user.avatar %}
        <div class="avatar">
            <img src="{{ user.avatar.url }}" alt="UserAvatar">
        </div>
        {% else %}
        <div class="avatar">
            <p>Нет аватара</p>
        </div>
        {% endif %}
        <div class="profile__info">
            <div class="profile__info_items">
                <div class="profile__info_item">
                    <label>Логин: </label>
                    <p>{{ user.username }}</p>
                </div>
                <div class="profile__info_item">
                    <label>Почта: </label>
                    <p>{{ user.email }}</p>
                </div>
                <div class="profile__info_item">
                    <label>Телефон: </label>
                    <p>{{ user.phone_number }}</p>
                </div>

                {% if user.is_staff %}
                <a class="add_news" href="{% url 'add_news' %}">Добавить запись</a>
                {% endif %}
            </div>

            <div class="profile__info_records">
                <p class="records">
                    {% if request.user.is_staff %}
                    Все записи:
                    {% else %}
                    Ваши записи:
                    {% endif %}
                </p>

                {% if service_requests %}
                {% for request in service_requests %}
                <div class="profile__info_record">
                    {% if request.user.is_staff %}
                    <p>Пользователь: <strong>{{ request.user.username }}</strong></p>
                    {% endif %}
                    <p>Дата записи: <strong>{{ request.created_at|date:"d.m.Y" }}</strong></p>
                    <p>Имя: <strong>{{ request.name }}</strong></p>
                    <p>Номер телефона: <strong>{{ request.phone }}</strong></p>
                    <p>Описание проблемы: <strong>{{ request.problem_description }}</strong></p>

                </div>
                <span></span>

                {% endfor %}
                {% else %}
                <p>
                    {% if request.user.is_staff %}
                    Нет записей в системе.
                    {% else %}
                    У вас пока нет записей.
                    {% endif %}
                </p>
                <br>
                <a href="{% url 'index' %}" style="color: #118AB2;">Записаться</a>
                {% endif %}
            </div>

        </div>
    </div>

</main>