{% load static %}

{% include "app/header.html" %}

<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/auth.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block content %}
<main>
    <div class="auth__form">
        <h2>Регистрация</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}
                    <small>{{ error }}</small><br>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit">Зарегистрироваться</button>
        </form>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google">
            Войти через Google
        </a>
        <p class="our">Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></p>
    </div>

</main>

{% endblock %}