@font-face {
    font-family: Stem-Light;
    src: url(../fonts/Stem/Stem-Light.otf);
}

*{
    font-family: Stem-Light;
}

.logotype{
    a{
        img{
            width: 260px;
            scale: 1;
            transition: scale 0.2s;
        }

        img:hover{
            scale: 1.1;
            transition: scale 0.1s;
        }
    } 
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;

    .header__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;

        .number{
            display: flex;
            flex-direction: column;
            text-align: right;

            p{
                font-size: 14px;
            }

            strong{
                font-size: 18px;
            }
        }

        nav {
            ul {
                display: flex;
                flex-direction: row;
                gap: 50px;

                li{
                    a{
                        color: black;
                        font-size: 18px;
                        filter: invert(0);
                        transition: filter 0.1s;
                    }
                    a:hover{
                        filter: invert(50%);
                        transition: filter 0.1s;
                    }
                }
                
            }
        }
    }
}

.personal__page {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    span{
        transform: rotate(90deg);
        display: inline-block;
        width: 40px;
        height: 0.1px;
        background-color: black;
    }
    

    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        color: black;

        .personal__page_names{
            display: flex;
            flex-direction: column;
            p{
                font-size: 15px;
            }
            p:nth-child(2){
                color: rgb(90, 90, 90);
            }
        }
    }

    a:hover {
        filter: invert(40%);
    }

    form{
        button{
            img{
                opacity: 0.8;
            }
        }

        button:hover{
            cursor: pointer;
            filter: invert(40%);
        }
    }
}

.personal__page{
    a{
        img{
            object-fit:cover;
            border-radius: 100%;
            width: 50px;
            height: 45px;
        }
    }
}

@media (max-width: 768px) {
    header .header__items nav{
        display: none;
    }
    header .header__items .number{
        display: none;
    }
    header .header__items .number{
        display: none;
    }
    header .logotype a img{
        width: 150px;
    }
}