{% load static %}

<link rel="stylesheet" href="{% static 'app/css/header.css' %}">

<header>
        <div class="logotype">
            <a href="{% url 'index' %}">
                <img src="{% static 'app/media/logo.png' %}" alt="Logo">
            </a>
        </div>
        <div class="header__items">
            <nav>
                <ul>
                    <li><a href="{% url 'about' %}">О компании</a></li>
                    <li><a href="{% url 'news_page' %}">Новости</a></li>
                    <li><a href="{% url 'index' %}#section5">Цены</a></li>
                    <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                </ul>
            </nav>
            {% if user.is_authenticated %}
            <div class="personal__page">
                <a href="{% url 'profile' %}">
                    {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" title="Личный кабинет" style="width: 45px;" alt="404">
                    {% endif %}

                    <div class="personal__page_names">
                        <p>{{ user.username }}</p>
                        <p>{{ user.phone_number }}</p>
                    </div>
                </a>
                <span></span>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" title="Выход" style="border: none; background-color: transparent;">
                        <img src="{% static 'app/media/icons/logout.png' %}" style="width: 35px;" alt="">
                    </button>
                </form>
            </div>
            {% endif %}
            <div class="number">
                <p>Служба продаж</p>
                <strong>+7 495 123-45-67</strong>
            </div>
        </div>


</header>